---
import "../styles/global.css"
import Base from "../layouts/Base.astro";
const pageTitle = "About"
---
<Base pageTitle={pageTitle}>
	<h2>About Valentine</h2>
	<p>I'm pretty boring, which is why I'm starting this blog at 1am instead of sleeping.</p>
	<p>I plan to use this blog to solidify my learnings, particularly centered around Go.</p>
</Base>
