---
---
<div class="nav-links">
    <div class="nav-base">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
    </div>
    <div class="nav-social">
        <a href="https://www.github.com/valxntine">github</a>
        <a href="https://www.twitter.com/_valxntine">twitter</a>
    </div>
</div>
